<link rel="stylesheet" href="/css/sidebar.css">

<nav class="sidebar-nav scroll-sidebar" data-simplebar>
    <ul id="sidebarnav">
      <!-----------Profile------------------>
      <li class="sidebar-item sidebar-profile pt-2">
        <a class="sidebar-link has-arrow opacity-100 gap-2" href="javascript:void(0)" aria-expanded="false">
          <span class="d-flex logoCont">
            <img src="<%=company_logo%>" class="rounded" width="30" alt="user" />
          </span>
          <span class="hide-menu fw-medium" id="SigneeName"><%= company_name%> </span>
        </a>
        <ul aria-expanded="false" class="collapse first-level">
          <li class="sidebar-item">
            <a href="javascript:void(0)" class="sidebar-link sublink">
              <div class="round-16 d-flex align-items-center justify-content-center">
                <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
              </div>
              <span class="hide-menu">My Profile</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a href="javascript:void(0)" class="sidebar-link sublink">
              <div class="round-16 d-flex align-items-center justify-content-center">
                <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
              </div>
              <span class="hide-menu">My Balance</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a href="javascript:void(0)" class="sidebar-link sublink">
              <div class="round-16 d-flex align-items-center justify-content-center">
                <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
              </div>
              <span class="hide-menu">Inbox</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a href="javascript:void(0)" class="sidebar-link sublink">
              <div class="round-16 d-flex align-items-center justify-content-center">
                <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
              </div>
              <span class="hide-menu">Logout</span>
            </a>
          </li>
        </ul>
      </li>

      <!-- ---------------------------------- -->
      <!-- Home -->
      <!-- ---------------------------------- -->
      <!-- <li class="nav-small-cap">
        <iconify-icon icon="solar:menu-dots-bold" class="nav-small-cap-icon fs-4"></iconify-icon>
        <span class="hide-menu">PERSONAL</span>
      </li>
  -->
   
      <!-- ---------------------------------- -->
      <!-- Apps -->
      <!-- ---------------------------------- -->

      <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard" aria-expanded="false">
          <span class="d-flex">
            <iconify-icon icon="solar:widget-3-line-duotone"></iconify-icon>
          </span>
          <span class="hide-menu">Dashboard</span>
        </a>
      </li>
      <!-- <li class="sidebar-item">
        <a class="sidebar-link" href="https://bootstrapdemos.wrappixel.com/ample/dist/main/page-user-profile.html" aria-expanded="false">
          <span class="d-flex">
            <iconify-icon icon="solar:user-circle-line-duotone"></iconify-icon>
          </span>
          <span class="hide-menu">User Profile</span>
        </a>
      </li> -->
     

      <!-- ---------------------------------- -->
      <!-- Pages -->
      <!-- ---------------------------------- -->

      <li class="sidebar-item">
        <a class="sidebar-link" href="/pricing" aria-expanded="false">
          <div class="d-flex">
            <iconify-icon icon="solar:money-bag-outline"></iconify-icon>
          </div>
          <span class="hide-menu">Pricing</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="/settings" aria-expanded="false">
          <div class="d-flex">
            <iconify-icon icon="solar:user-circle-line-duotone"></iconify-icon>
          </div>
          <span class="hide-menu">Account Settings</span>
        </a>
      </li>
 


 




    </ul>
  </nav>